<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>DynamicProj</display-name>
	<servlet>
		
		<servlet-name>aaa</servlet-name>
		<servlet-class>com.emps.MyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Currency</display-name>
		<servlet-name>Currency</servlet-name>
		<servlet-class>com.emps.Currency</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.emps.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Calculator</display-name>
		<servlet-name>Calculator</servlet-name>
		<servlet-class>com.emps.Calculator</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>JavaScriptDemo</display-name>
		<servlet-name>JavaScriptDemo</servlet-name>
		<servlet-class>com.emps.JavaScriptDemo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MyConfigDemo</display-name>
		<servlet-name>MyConfigDemo</servlet-name>
		<servlet-class>com.emps.MyConfigDemo</servlet-class>
		<init-param>
			<param-name>cnames</param-name>
			<param-value>Java,.Net,Testing,Python</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>aaa</servlet-name>
		<url-pattern>/sayHello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Currency</servlet-name>
		<url-pattern>/Currency</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Calculator</servlet-name>
		<url-pattern>/Calculator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JavaScriptDemo</servlet-name>
		<url-pattern>/JavaScriptDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyConfigDemo</servlet-name>
		<url-pattern>/MyConfigDemo</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>LoginPage.html</welcome-file>
		
	</welcome-file-list>
</web-app>
